core/vendor/
core/node_modules/
core/npm-debug.log

# Laravel 4 specific
core/bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
core/public/storage
core/public/hot
core/storage/*.key
core/.env.*.php
core/.env.php
core/.env
core/Homestead.yaml
core/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
core/.rocketeer/

# Custom
php/cache
assets/images
